mat-card.analytics-card {
  display: flex;
  flex-direction: column;
  gap: calc(3 * var(--custom-spacing));
  padding: 32px 24px;

  &:first-child div.analytics-icon,
  &:nth-child(4) div.analytics-icon {
    background-color: #635bff;
  }

  &:nth-child(2) div.analytics-icon {
    background-color: #15b79f;
  }

  &:nth-child(3) div.analytics-icon {
    background-color: #fb9c0c;
  }

  & mat-card-content {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    padding: 0;

    & div.analytics-icon {
      border-radius: 50%;
      display: flex;
      height: 56px;
      place-content: center;
      place-items: center;
      width: 56px;

      & mat-icon {
        color: white;
      }
    }
    & apx-chart.bar-chart {
      width: 636px;
    }
    & div.title-group {
      display: flex;
      flex-direction: column-reverse;
      gap: var(--custom-spacing);

      & mat-card-title {
        color: #212636;
        font-size: 32px;
        font-weight: 500;
        line-height: 1.2;
      }
      & mat-card-subtitle {
        color: #667085;
        font-size: 0.75rem;
        font-weight: 500;
        letter-spacing: 0.5px;
        line-height: 2.5;
        text-transform: uppercase;
      }
    }
  }
  & mat-card-footer {
    align-items: center;
    display: flex;
    flex-direction: row;
    gap: calc(2 * var(--custom-spacing));
    padding: 0;

    & div.stats {
      align-items: center;
      display: flex;
      flex-direction: row;
      gap: calc(0.5 * var(--custom-spacing));

      &.positive {
        color: #15b79f;
      }
      &.negative {
        color: #f04438;
      }
      & > mat-icon {
        height: 20px;
        width: 20px;
      }
      & > p {
        font-size: 0.875rem;
        font-weight: 400;
        line-height: 1.57;
      }
    }
    & > span {
      color: #667085;
      font-size: 0.75rem;
      font-weight: 400;
      line-height: 1.66;
    }
  }
}

mat-card-content > div.legend {
  align-items: center;
  display: flex;
  gap: calc(2 * var(--custom-spacing));
  justify-content: center;
  margin-top: calc(2 * var(--custom-spacing));

  & > mat-card-title-group.legend-item {
    text-align: center;
    width: fit-content;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    gap: var(--custom-spacing);

    & mat-card-title {
      margin-bottom: var(--custom-spacing);
    }
  }
}

mat-list > mat-list-item > div[matListItemMeta] {
  align-self: center;
}
