@if (loggedUser(); as loggedUser) {
<img [src]="" alt="" [matMenuTriggerFor]="menu" class="menu-avatar" (click)="openMenu()">
<mat-menu class="user-menu" #menu="matMenu">
    <hgroup>
        <h6 class="title">{{ loggedUser.name }}</h6>
        <p class="subtitle">{{ loggedUser.role | titlecase }}</p>
    </hgroup>
    <mat-divider></mat-divider>
    <button mat-menu-item type="button" (click)="signOut()" class="menu-button">
        <mat-icon class="menu-icon" svgIcon="ph-light:sign-out"></mat-icon>
        <span>Sair</span>
    </button>
</mat-menu>
}