<header>
    <button matButton="filled" (click)="openTaskForm()" [disabled]="loggedUser?.role == isMentor">
        Nova tarefa
    </button>
</header>

<section class="tasks-cards">
    @if (paginatedTasks().length === 0) {
    <p>Nenhuma tarefa encontrada!</p>
    } @else {
    @for (task of paginatedTasks(); track task._id) {
    <mat-card class="tasks task-card">
        <mat-card-header>
            <mat-card-title>{{ task.title | titlecase}}</mat-card-title>
            <mat-card-subtitle>
            </mat-card-subtitle>
        </mat-card-header>

        <mat-card-content class="card-content">
            <div style="display: flex;
            justify-content: flex-end;
            flex-direction: row;
            gap: var(--custom-spacing);
            margin-bottom: var(--custom-spacing);">
                <mat-chip selected>
                    {{ getPriorityLabel(task.priority) | lowercase }}
                </mat-chip>
                <mat-chip selected>
                    {{ getStatusLabel(task.status) | lowercase }}
                </mat-chip>
            </div>
            <p class="description">{{ task.description }}</p>
            <div class="feedback">
                <p style="font: var(--mat-sys-label-medium);
                letter-spacing: var(--mat-sys-label-medium-tracking);"><strong>Feedback:</strong> {{ task.feedback }}
                </p>
            </div>
        </mat-card-content>
        <mat-divider></mat-divider>
        <mat-card-actions align="end">
            <button mat-icon-button (click)="editTask(task)">
                <mat-icon svgIcon="ph-duotone:pencil"></mat-icon>
            </button>
            <button mat-icon-button (click)="deleteTask(task._id)">
                <mat-icon svgIcon="ph-duotone:trash"></mat-icon>
            </button>
        </mat-card-actions>
    </mat-card>
    }
    }
</section>

@if (paginatedTasks().length !== 0) {
<mat-paginator [length]="taskListLength()" [pageSize]="pageSizeSignal()" hidePageSize="true"
    (page)="onPageChange($event)">
</mat-paginator>
}